/* ROOT VARIABLES */
:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

.h2-emoji {
  font-size: 45px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.6;
}

.col-md-6 h2 {
  text-align: left;
}

p {
  margin: 30px 0;
  font-size: 18px;
  line-height: 1.5;
}

.knight-p {
  text-align: center;
  margin: 30px;
}

.row {
  display: flex;
}

/* LINKS */
.links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.about-link {
  text-align: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-link:hover {
  color: #dedce2;
}

.contact-link {
  text-align: center;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.button-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.mobile-h6 {
  color: red;
  text-align: center;
  margin-top: 50px;
}

.github-src-link,
.github-link {
  color: #b41eb9;
  text-decoration: none;
}

.github-link {
  display: inline-block;
  margin-top: 30px;
}

.github-link:hover {
  color: black;
  text-decoration: underline;
}
